<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YFB</title>
    <link rel="stylesheet" href="/styles/customer.css">
</head>
<body>
    <header>
        <h1>Yash Foods and Beverages</h1>
    </header>
    <main>
        <div class="cart-wrapper">
            <h2>Current order</h2>
            <div class="cart">
                <!-- Item -->
            </div>
        </div>
        <form autocomplete="off" data-customer-id="<%= customer['customer-id'] %>">
            <h2>Your details</h2>
            <div id="customer-name" data-customer-name="<%= customer.name %>">Name: <%= customer.name %></div>
            <label for="phone-number">
                Mobile number: <input type="number" name="mobileNumber" id="mobile-number" value="<%= customer['mobile-number'] %>">
            </label>
            <label for="address">
                Address: <textarea name="address" id="address" cols="30" rows="10"><%= customer.address %></textarea>
            </label>
            <button>Place order</button>
        </form>
    </main>
    <footer>

    </footer>
    <script src="/scripts/customer.js"></script>
</body>
</html>