<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YFB</title>
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/customer.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="cart-wrapper">
            <h2>Current order</h2>
            <div class="cart">
                <!-- Item -->
            </div>
        </div>
        <form autocomplete="off" data-customer-id="<%= customer['customer-id'] %>">
            <h2>Your details</h2>
            <div id="customer-name" data-customer-name="<%= customer.name %>">Name: <%= customer.name %></div>
            <label for="phone-number">
                Mobile number: <input type="number" name="mobileNumber" id="mobile-number" value="<%= customer['mobile-number'] %>" required>
            </label>
            <label for="address">
                Address: <textarea name="address" id="address" cols="30" rows="10" required><%= customer.address %></textarea>
            </label>
            <button>Place order</button>
        </form>
        <div class="pending-orders">
            <h2>Pending orders</h2>
            <% if (orders.length) { %>
                <% orders.forEach(order => { %>
                    <div class="order">
                        Mobile number: <%= order['mobile-number'] %><br>
                        Address: <%= order.address %><br>
                        <% for (let key in order['product-list']) { %>
                            <% const item = order['product-list'][key] %>
                            <div class="item">
                                <span class="name"><%= item.name %></span>/
                                <span class="net-weight"><%= item['net-weight'] %></span>/
                                <span class="price">&#8377;<%= item.price %></span>/
                                <span class="quantity">Qty. <%= item.quantity %></span>
                            </div> 
                        <% } %>  
                    </div>
                <% }); %>  
            <% } else { %>
                --No pending orders--
            <% } %>   
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/scripts/customer.js"></script>
</body>
</html>