<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YFB</title>
    <link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h2>Pending orders</h2>
        <div class="orders">
            <% if (orders.length) { %>
                <% orders.forEach(order => { %>
                    <div class="order" data-id="<%= order._id %>">
                        <button class="complete">COMPLETE</button>
                        <strong>Name:</strong> <%= order.name %><br>
                        <strong>Mobile number:</strong> <%= order['mobile-number'] %><br>
                        <strong>Address:</strong> <%= order.address %><br>
                        <% for (let key in order['product-list']) { %>
                            <% const item = order['product-list'][key] %>
                            <div class="item">
                                <span class="name"><%= item.name %></span>/
                                <span class="net-weight"><%= item['net-weight'] %></span>/
                                <span class="price">&#8377;<%= item.price %></span>/
                                <span class="quantity">Qty. <%= item.quantity %></span>
                            </div>
                        <% } %>  
                    </div>
                <% }); %>  
            <% } else { %>
                --No pending orders--
            <% } %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/scripts/orders.js"></script>
</body>
</html>